$first-color: #f3f2ed;
$second-color: #0b2b38;
$third-color: #d39662;

body {
  margin: 0;
  padding: 0;
  background-color: $first-color;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0px;
  height: 50px;
  background-color: $second-color;
  color: $third-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-menu {
  &__list {
    padding: 0;
    display: flex;
  }

  &__list-element {
    list-style: none;
    margin: 0 15px;
  }

  &__link {
    text-decoration: none;
    color: $third-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
  }
}

.title-container {
  padding: 50px 30px;

  &__title {
    margin: 0 20px;
  }
}

.gallery-section {
  padding: 100px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__description {
    width: 25%;
    margin: 0 20px;
  }

  &__title {
    padding: 0;
    margin: 0px;
  }

  &__card-container {
    width: 75%;
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-gap: 35px 45px;
    justify-content: flex-end;
  }

  &__card {
    height: 230px;
    margin: 0;
    padding: 0;
  }

  &__image {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 3px;
  }
}

.divider {
  height: 1px;
  margin: 0 50px;
  border-width: 0;
  background-color: $second-color;
}
