$first-color: #dfdbcf;
$second-color: #1c4859;
$third-color: #a67041;

body {
  margin: 0;
  padding: 0;
  background-color: $first-color;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0px;
  height: 45px;
  background-color: $second-color;
  color: $third-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-menu {

  &__list {
    padding: 0;
    display: flex;
  }

  &__list-element {
    list-style: none;
    margin: 0 15px;
  }

  &__link {
    text-decoration: none;
    color: $third-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
  }
}

.gallery-section {
  &__card {
  }

  &__image {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 3px;
  }
}
